<div class="animated_background flex w-full h-full flex-col bg-purple-950">
    <div class="flex w-full flex-row justify-end h-1/4 ">
        <mat-icon class=" text-white text-6xl !w-16 !h-16 m-2 hover:text-gray-200 cursor-pointer" (click)="modalsService.open_settings()">settings</mat-icon>
    </div>

    <div class="flex w-full flex-col justify-center h-2/4 ">
        <div class="flex justify-center items-center mb-4">
            <div class="text-center text-white text-6xl">
                GUESSIT
            </div>
        </div>
        <div routerLink="/game_configuration" class="w-full flex justify-center mb-12">
            <button  class="w-1/3 p-4 rounded-md my-auto text-3xl text-white bg-purple-500 hover:bg-purple-400 border-purple-800 border-2">
                Jugar
            </button>
        </div>
    </div>

    <div class="flex w-full flex-row justify-start h-1/4 ">
        <img class="h-full" src="./white_logo_brigth.png">
    </div>
</div>
