
@if (gameCoreService.game_state == "rules") {
    <div class="animated_background bg-purple-950 flex flex-col p-2 h-screen w-screen text-white text-4xl text-center justify-center" (mousedown)="onMouseDownRules()" (mouseup)="onMouseUp()" (mouseleave)="onMouseUp()"> 
        <div class="flex justify-center">
            <div class="bg-black bg-opacity-60 p-4 rounded-md">
                <div class="mb-2">
                    Ronda {{gameCoreService.current_round +1}}
                </div>
                <div>
                    {{gameCoreService.rules[gameCoreService.current_round]}}
                </div>
                <div class="text-base mt-2">
                    (Manten pulsado para continuar)
                </div>
            </div>
        </div>
    </div>
}@else if(gameCoreService.game_state == "teams"){
    <div class="animated_background bg-purple-950 flex flex-col p-2 h-screen w-screen text-white text-4xl text-center justify-center" (mousedown)="onMouseDownTeams()" (mouseup)="onMouseUp()" (mouseleave)="onMouseUp()"> 
        <div class="flex justify-center">
            <div class="bg-black bg-opacity-60 p-4 rounded-md">
                <div class="mb-2">
                    Ronda {{gameCoreService.current_round +1}}
                </div>
                <div class="mb-2">
                    Es el turno del equipo:
                </div>
                <div>
                    {{gameCoreService.teams[gameCoreService.active_team_index].name}}
                </div>
                <div class="text-base mt-2">
                    (Manten pulsado para continuar)
                </div>
            </div>
        </div>
    </div>
}@else if(gameCoreService.game_state == "words"){
    <div class="animated_background bg-purple-950 flex-col p-2 h-screen w-screen text-white text-4xl text-center" (click)="gameCoreService.get_next_word()">
        <div class="h-1/6">
            {{gameCoreService.time_per_round - gameCoreService.time}}
        </div>
    
        <div class="h-4/6 flex flex-col justify-center">
            <div class="">
                
            </div>

            <div class="flex justify-center">
                <div class="bg-black bg-opacity-60 p-4 rounded-md">
                    <div class="text-6xl">
                        {{gameCoreService.active_word}}
                    </div>
                    <div class="text-base mt-2">
                        (clica si han acertado la palabra)
                    </div>
                </div>
            </div>
        </div>

        <div class="h-1/6">
            
        </div>
    </div>

}
@else if (gameCoreService.game_state == "podium") {
    <div class="fixed">
        <mat-icon class="text-white text-6xl !w-auto !h-auto hover:text-gray-200 cursor-pointer p-2" routerLink="/">arrow_back</mat-icon>
    </div>
    <div class="animated_background bg-purple-950 flex-col p-2 h-screen w-screen text-white text-4xl text-center flex justify-center" (click)="gameCoreService.get_next_word()">

        <div class="flex justify-center h-5/6 w-full">
            <div class="bg-purple-900 border-purple-800 border-2 w-3/5 p-4 rounded-md h-full">
                <div class="mb-2 h-1/5">
                    Puntuaciones
                </div>

                <div class="mb-2 h-4/5 overflow-y-auto flex flex-col bg-purple-950 p-2">
                    <div class="flex pb-4 border-purple-800 border-b-2">
                        <div class="w-3/4">Equipo</div>
                        <div class="w-1/4">Tiempo</div>
                    </div>
                    
                    @for (team of gameCoreService.teams; track $index) {
                        <div class="flex p-2 border-slate-900 border-b-2">
                            <div class="w-3/4">{{team.name}}</div>
                            <div class="w-1/4 border-purple-800 border-l-2">{{team.time_spent}}</div>
                        </div>
                    }
                </div>
                
            </div>
        </div>

    </div>
}@else {
    <div class="animated_background bg-purple-950 flex flex-col justify-center p-2 h-screen w-screen text-white text-4xl text-center" (click)="gameCoreService.get_next_word()">
        <div class="p-2">
            Ups... Quieres jugar y no hay datos cargados
        </div>
        <div class="flex justify-center">
            <div class="cursor-pointer bg-purple-700 border border-slate-900 p-4 hover:bg-purple-600 rounded-md" routerLink="/">
                Volver al menú principal
            </div>
        </div>
        

    </div>
}
