@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    box-sizing: border-box;
}

.animated_background{
    background-image: url('../public/animated_background.gif');
    background-size: 300px 300px;
    background-repeat: repeat;     
}